{% extends 'base.html' %}
{% load static %}
{% block title %}Login Page{% endblock title %}
{% block css %}{% endblock css %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-10 col-lg-6 d-block mx-auto text-center">
                <h1>{{ title }}</h1>
                <form method="post" enctype="multipart/form-data".>
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ formset.management_form }}
                    {{ formset.non_form_errors }}
                    {% for form in formset.forms %}
                        {{ form.as_p }}
                    {% endfor %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}{% endblock js %}
