{% extends 'base.html' %}
{% load static %}
{% block title %}Products detail{% endblock title %}
{% block css %}{% endblock css %}
{% block content %}
    <div class="container">
      <div class="row">
          <div class="col-12">
              <h1 class="text-center mt-5">Products detail</h1>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-md-4 mx-auto d-block text-center mt-5">
              <h4>{{ object.title }}</h4>
              <p>{{ object.description }}</p>
              <p><b>{{ object.price }} сом</b></p>
              {% for image in product.productimage_set.all %}
                <img src="{{ image.image.url }}" height="100px" width="auto"/>
              {% empty %}
                  <p>Нет фотографий</p>
              {% endfor %}
          </div>
      </div>
  </div>
{% endblock content %}
{% block js %}{% endblock js %}
