{% extends 'base.html' %}
{% load static %}
{% block title %}Products list{% endblock title %}
{% block css %}{% endblock css %}
{% block content %}
     <div class="container">
      <div class="row">
          <div class="col-12">
              <h1 class="text-center mt-5">Products list</h1>
          </div>
      </div>
      <div class="row">
          {% for product in products %}
              <div class="col-12 mx-auto d-block text-center mt-5">
                  <hr>
                  <a href="{% url 'products:product-detail' product.id %}">{{ product.title }}</a>
                  <p>{{ product.description }}</p>
                    {% if product.productimage_set.first %}
                        <img src="{{ product.productimage_set.first.image.url }}" height="100px" width="auto"/>
                    {% else %}
                      <p>Нет фотографии</p>
                    {% endif %}
                  <hr>
              </div>
          {% empty %}
          {% endfor %}
      </div>
  </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto d-block text-center">
                <div class="pagination">
                    <span class="step-links">
                        {% if products.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ products.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ products.number }} of {{ products.paginator.num_pages }}.
                        </span>

                        {% if products.has_next %}
                            <a href="?page={{ products.next_page_number }}">next</a>
                            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}{% endblock js %}
