{% extends 'base.html' %}
{% load static %}
{% block title %}Products list{% endblock title %}
{% block css %}{% endblock css %}
{% block content %}
    <div class="container">
      <div class="row">
          <div class="col-12">
              <h1 class="text-center mt-5">Products list</h1>
          </div>
      </div>
      <div class="row">
          {% for object in object_list %}
              {% include 'includes/cart.html' with product=object %}
          {% empty %}
          {% endfor %}
      </div>
  </div>
{% endblock content %}
{% block js %}{% endblock js %}
