{% extends 'base.html' %}
{% load static %}
{% block title %}Products list{% endblock title %}
{% block css %}{% endblock css %}
{% block content %}
     <div class="container">
      <div class="row">
          <div class="col-12">
              <h1 class="text-center mt-5">Products list</h1>
          </div>
      </div>
      <div class="row">
          {% for product in products %}
              <div class="col-12 mx-auto d-block text-center mt-5">
                  <hr>
                  <a href="{% url 'products:product-detail' product.id %}">{{ product.title }}</a>
                  <p>{{ product.description }}</p>
                    {% if product.productimage_set.first %}
                        <img src="{{ product.productimage_set.first.image.url }}" height="100px" width="auto"/>
                    {% else %}
                      <p>Нет фотографии</p>
                    {% endif %}
                  <hr>
              </div>
          {% empty %}
          {% endfor %}
      </div>
  </div>
{% endblock content %}
{% block js %}{% endblock js %}
