{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {% block css %}{% endblock css %}
  </head>
  <body>

  <nav class="navbar navbar-expand-lg bg-dark bg-light px-sm-5">
  <a class="navbar-brand text-white font-weight-bold" href="#">ФРУНЗЕ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse font-weight-bold" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'main-page' %}">Main Page <span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'contacts' %}">Contacts <span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'products:product-list-cbv' %}">Products <span class="sr-only">(current)</span></a>
          </li>
            {% if not request.user.is_authenticated %}
            <li class="nav-item text-white">
            <a class="nav-link text-white" href="{% url 'login-page' %}">Login <span class="sr-only">(current)</span></a>
          </li>
            <li>
                <a class="nav-link text-white" href="{% url 'register-page' %}">Register</a>
            </li>
            {% else %}
            <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'logout-page' %}">Logout <span class="sr-only">(current)</span></a>
          </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 font-weight-bold" type="search" placeholder="Search">
            <button class="btn btn-danger my-2 my-sm-0 font-weight-bold" type="submit">Search</button>
        </form>
      </div>

</nav>
    {% block content %}{% endblock content %}
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% block js %}{% endblock js %}
  </body>
</html>
