{% extends 'base.html' %}
{% load static %}
    {% block title %}Contacts{% endblock title %}
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 d-block mx-auto">
                    <h1 class="text-center mt-5">Contacts</h1>
                    <form method="POST" class="d-block mx-auto text-center">
                        {% csrf_token %}
                        <!--{{ contacts_form.as_ul }}-->
                        {{ contacts_form.non_field_errors }}
                        <div class="form-group">
                            {{ contacts_form.name.errors }}
                            {{ contacts_form.name }}
                        </div>
                        <div class="form-group">
                            {{ contacts_form.email.errors }}
                            {{ contacts_form.email }}
                        </div>
                        <div class="form-group">
                            {{ contacts_form.message.errors }}
                            {{ contacts_form.message }}
                        </div>
                        <button type="submit" class="btn btn-success">Отправить</button>
                    </form>
                </div>
            </div>
        </div>


            <!--<form method="POST" class="mt-5 d-block mx-auto text-center">
                <input type="text" class="form-control" placeholder="Имя" name="name"/>
                <input type="email" class="form-control" placeholder="Email" name="email"/>
                <textarea></textarea>
                <button type="submit" class="btn btn-success">Отправить</button>
            </form>-->
    {% endblock content %}
    {% block js %}{% endblock js %}
