{% extends 'base.html' %}
{% load static %}
{% block title %}Hello, Miami!{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
{% endblock css %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="d-block mx-auto col-12 col-sm-10 col-lg-8">
                <h1 class="text-center mt-5">
                    Hello, {% if request.user.is_authenticated %}{{ request.user.username|title }}{% else %}Miami{% endif %}!
                </h1>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
<!--    <script>
        alert('Hello world!');
    </script> -->
{% endblock js %}