{% extends 'base.html' %}

{% block content %}
  {% if not request.user.is_authenticated and not request.session.guest_email_id %}
  <div class="container">
    <div class="row">
        <div class="col-6">
          {% include 'includes/form.html' with form=login_form next_url=request.build_absolute_uri %}
        </div>
        <div class="col-6">
          {% url 'guest-email-view' as email_action_url %}
          {% include 'includes/form.html' with form=email_form action_url=email_action_url next_url=request.build_absolute_uri %}
        </div>
    </div>
  </div>
  {% endif %}
  {% if billing_profile %}
    <div class="container py-5">
    {{ billing_profile.addresses.all }}
    {{ billing_profile.id }}
    {{ billing_profile.addresses.count }}
    {% if billing_profile.addresses.count == 0 %}
      <div class="row">
        <div class="col-12 d-block mx-auto text-center">
          <h1>Shipping Address</h1>
          {% url 'address:create' as create_address_url %}
          {% include 'includes/form.html' with form=address_form action_url=create_address_url next_url=request.build_absolute_uri %}
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-12 d-block mx-auto text-center">
          <b>{{ order_obj.order_id }} ---  {{ cart.id }}</b>
          <h1>Оформить заказ</h1>
          <p>Адрес доставки: {{ order_obj.address.get_address_display }}</p>
          <p>Сумма доставки: {{ order_obj.shipment_total }}</p>
          <p>Сумма: {{ order_obj.total }}</p>
          {% for e in errors %}
            <p>
              {{ e }}
            </p>
          {% endfor %}
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">КУПИТЬ</button>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
  {% endif %}
{% endblock %}
